<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />

		<title>Bingo Game</title>

		<link href="css/jquery.mobile-1.1.1.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.mobile-1.1.1.min.js"></script>
		<script type="text/javascript" src="js/viewporter.js"></script>
		<script type="text/javascript" src="js/graphic.js"></script>
		<script src="http://localhost:8080/socket.io/socket.io.js"></script>
		<script src="js/game.js"></script>
	</head>

	<body>
		<div id="roomPage" data-role="page">

			<div data-role="header" data-theme="e" data-position="fixed">
				<h1>Bingo! Rooms <span id="onlineUserCount"></span></h1>
			</div><!-- /header -->

			<div data-role="content">	
				<ul id="roomList" data-role="listview">					
				</ul>
			</div><!-- /content -->
			<div data-role="footer" data-theme="e" data-position="fixed">
				<h4>jstanbul.org</h4>
			</div><!-- /footer -->
			
		</div><!-- /page -->
		<!-- Start of second page -->
		<div id="gamePage" data-role="page">

			<div data-role="header" data-theme="e" data-position="fixed">
				<a href="#" class="backToRoomPage" data-icon="back" class="ui-btn-left">Back</a>
				<span class="ui-title" />
			</div><!-- /header -->

			<div data-role="content">
				<h3><span id="gameFinishedSpan"><span></h3>
				<br/>	
				<h3>Chosen Number: <span id="chosenNumberSpan"></span></h3>
				<br/>
				<div class="ui-grid-a">
					<table id="newspaper-a">
						<tr>
							<td class="1_row_1_column"></td>
							<td class="1_row_2_column"></td>
							<td class="1_row_3_column"></td>
							<td class="1_row_4_column"></td>
							<td class="1_row_5_column"></td>
							<td class="1_row_6_column"></td>
							<td class="1_row_7_column"></td>
							<td class="1_row_8_column"></td>
							<td class="1_row_9_column"></td>
						</tr>
						<tr>
							<td class="2_row_1_column"></td>
							<td class="2_row_2_column"></td>
							<td class="2_row_3_column"></td>
							<td class="2_row_4_column"></td>
							<td class="2_row_5_column"></td>
							<td class="2_row_6_column"></td>
							<td class="2_row_7_column"></td>
							<td class="2_row_8_column"></td>
							<td class="2_row_9_column"></td>
						</tr>
						<tr>
							<td class="3_row_1_column"></td>
							<td class="3_row_2_column"></td>
							<td class="3_row_3_column"></td>
							<td class="3_row_4_column"></td>
							<td class="3_row_5_column"></td>
							<td class="3_row_6_column"></td>
							<td class="3_row_7_column"></td>
							<td class="3_row_8_column"></td>
							<td class="3_row_9_column"></td>
						</tr>
					</table>
				</div><!-- /grid-a -->
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-position="fixed">
				<h4>jstanbul.org</h4>
			</div><!-- /footer -->
		</div><!-- /page -->
	</body>
</html>